
img.Siclo {
    border-radius: 10px;
    margin: 10px;
    width: auto;
    height: max-content;
}
img.roles {
    float: left;
    margin: 10px;
    width: 600px;
    height: auto;
}
img.kamban {
    float: right;
    margin: 10px;
    width: 600px;
    height: auto;
}
