img.pc {
    float: left;
    margin: 10px;
    width: 300px;
    height: auto;
}
img.Siclo {
    margin: 10px;
    width: auto;
    height: max-content;
}
img.roles {
    float: left;
    margin: 10px;
    width: 300px;
    height: auto;
}
