
img.mujer {
    border-radius: 10px;
    float: right;
    margin: 10px;
    width: 500px;
    height: auto;
}
img.cascada {
    float: center;
    margin: 10px;
}
img.V {
    float: center;
    margin: 10px;
}
img.iteraccion {
    float: center;
    width: 1100px;
    height: auto;
    margin: 10px;
}
img.incrementacion {
    float: center;
    width: 1100px;
    height: auto;
    margin: 10px;
}
img.kamba {
    float: right;
    width: 250px;
    height: auto;
    margin: 10px;
}